body {
    background-color: aqua;
}

#titulo {
    text-align: center;
    padding: 50px;
}

a {
    color: white;
}

img {
    height: 150px;
    width: 150px;
}

h1 {
    color: white;
    font-size: 50px;

}

h4 {
    text-align: center;
    color: white;
    font-size: 20px;
}

.secciones {
    margin: auto;
    border: 1px solid;
    border-color: black;
}

.secciones img {
    float: left;
}

.secciones p {
    text-align: justify;
    color: black;
    font-family: 'Hurmit';
}

#divimagenes {
    text-align: center;
    align-content: center;
    visibility: visible;

}

.divIndividual {
    display: flexbox;
    flex-direction: row;
}

#general {
    display: flex;
    flex-direction: column;

}

.row {

    display: block;
    flex-direction: row;
    text-align: center;
}

.nombres {
    margin: auto;
    align-items: center;
    flex-direction: row;
    text-align: center;

}

.h2nombre {
    text-align: center;
    color: black;
    font-family: 'Hurmit';
}

button {
    position: fixed;

}

#header {
    margin-bottom: 550px;
}

nav {
    visibility: visible;
}